{"filter":false,"title":".gitignore","tooltip":"/events-app-2022/api-server/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":6,"column":0},"action":"insert","lines":["node_modules","logs","*.log","npm-debug.log*",".nyc_output",".idea",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":0},"end":{"row":6,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1665072431419,"hash":"7570c4efab8a4f24addab6314226c97088c47d35"}